alive_progress==2.4.1
discord.py==2.1.0
facebook_sdk==3.1.0
ffmpeg_python==0.2.0
imutils==0.5.4
internetarchive==3.2.0
librosa==0.10.0.post2
Mastodon.py==1.8.0
moviepy==1.0.3
nltk==3.8.1
noisereduce==2.0.1
numpy==1.23.1
openai==0.27.6
opencv_python_headless==4.7.0.72
Pillow==9.2.0
Pillow==10.0.0
protobuf==4.23.3
pydub==0.25.1
pyenchant==3.2.2
pyspellchecker==0.7.2
pytesseract==0.3.10
PyTumblr==0.1.0
pytz==2022.2.1
ray==2.2.0
Requests==2.31.0
skimage==0.0
SpeechRecognition==3.8.1
tensorflow==2.11.0
tensorflow_intel==2.11.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.29.2
tweepy==4.10.1
webcolors==1.13
~pencv_python==4.6.0.66
~pencv_python==4.7.0.72
