alive_progress==2.4.1
discord.py==2.2.3
facebook_sdk==3.1.0
ffmpeg==1.4
ffmpeg_python==0.2.0
imutils==0.5.4
internetarchive==3.2.0
Mastodon.py==1.8.0
numpy==1.23.1
opencv_python==4.6.0.66
pydub==0.25.1
PyTumblr==0.1.0
pytz==2022.2.1
ray==2.2.0
requests==2.28.1
tweepy==4.10.1
